<!DOCTYPE html>


<html lang="pt-br">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	
</head>
    <body>

	@RenderBody()

	</body>
</html>
